anndata==0.12.16
igraph==1.0.0
leidenalg==0.12.0
matplotlib==3.10.9
numpy==2.4.4
pacmap==0.9.1
pandas==2.3.3
phate==2.0.0
scanpy==1.12.1
scikit-learn==1.8.0
scipy==1.17.1
scvi-tools==1.4.3
seaborn==0.13.2
torch==2.12.0+cpu
umap-learn==0.5.12
